################################
## White list based gitignore ##
################################

# forbidden
*
.*

# allowed
!.gitignore
!.gitattributes
!.gitea/
!.gitea/issue_template/
!.gitea/workflows/
!src/
src/*
!src/ipa
!src/ipa/*.h
!src/ipa/*.cpp
!src/ipa/Makefile
!src/pms
!src/pms/*.cpp
!src/pms/*.h
!src/pms/Makefile

!CMakeLists.txt
!Makefile
!*.md
!*.yaml
