################################
## White list based gitignore ##
################################

# forbidden
*
.*

# allowed
!.gitignore
!.gitattributes
!.gitea/
!.gitea/workflows/
!*.yaml
!Makefile
!CMakeLists.txt
!*.c
!*.h
!*.md
